@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$orange: #ff9f00;
$green: #4ac29d;
$red: #ff6860;
$blue: #689ff8;
$white: #ffffff;
$gray: #858a9d;
$gray-placeholder: #bcbeca;
$border: #464c61;
$second-border: #5d606a44;
$second-orange: #ffd999;
$third-orange: #ffb233;
$gradient-color: linear-gradient(to right, #ff9f00, #ff6860, #689ff8);
$card-shadow: 0px 4px 16px 0px rgba(58, 58, 58, 0.07);
$text-actions: #bec0c8;

:root {
  --primary-background: #f5f6fc;
  --secondary-background: #343951;
  --primary-text: #343951;
  --second-text: #858a9d;
  --primary-card: #ffffff;
  --primary-icon: #c4c4c4;
}

[data-theme="dark"] {
  --primary-background: #343951;
  --secondary-background: #343951;
  --primary-text: #bec0c8;
  --second-text: #858a9d;
  --primary-card: #464c61;
  --primary-icon: #c4c4c4;
}
